.Trend{
    width: 100%;
    height: 150vh;
    background-color: white;
    position: relative;
    top: 950px;
}
.trend__h1{
    font-family: 'Federo';
font-style: normal;
font-weight: 500;
font-size: 50px;
text-align: center;
position: relative;

top: 50px;
}
.trend__blocks{
    width: 970px;
height: 148px;

position: relative;
left: 280px;

top: 170px;
display: flex;
border: 1px solid lightgray;

}
.row{
    width: 160px;
height: 148px;
background-color: white;
display: flex;
    justify-content: center;
    align-items: center;
}
.i{
    width: 160px;
    height: 148px;
}
.item{
    background-color: white;
    
}
.r__1{
    width: 66px;
    height: 75.42px;
    background-image: url('one.png');
    background-size: cover;
    background-color:  #FBF9F3;
  

}
.r__2{
    width: 45.96px;
    height: 73.57px;
    background-image: url('two.png');
    background-size: cover;
    
}
.r__3{
    width: 52px;
height: 65.37px;
background-image: url('three.png');
background-size: cover;

}
.r__4{
    width: 72.05px;
height: 68.62px;
background-image: url('four.png');
background-size: cover;


}
.r__5{
    width: 58.72px;
height: 74px;
background-image: url('five.png');
background-size: cover;
}

.r__7{
    width: 73px;
height: 54px;
background-image: url('seven.png');
background-size: cover;

}
.on{
    background-color:  #FBF9F3;
    
}
.trend{
    position: relative;
    top: 300px;
}
.trend__one{
    width: 159px;
height: 179px;
    background-image: url('table__one.png');
    background-size: cover;
    left: 52px;
    position: relative;
    top: 60px;

}
.trend__two{
    background-image: url('table__two.png');
    background-size: cover;
    width: 133px;
height: 153px;
left: 60px;
top: 90px;
}
.trend__three{
    width: 154px;
height: 152px;
background-image: url('table__three.png');
background-size: cover;
position: relative;
left: 40px;
top: 90px;

}
.trend__four{
    width: 151px;
height: 138px;

    background-image: url('table__four.png');
background-size: cover;
top: 80px;
left: 50px

}
.ter{
    position: relative;
    top: 125px;
}
.tert{
    position: relative;
    top: 125px;
}
.terte{
    position: relative;
    top: 139px;
}
.linke{
    position: relative;
    top: -25px;
    left: 223px;
}
.link{
    position: relative;
    top: 0px;
}
